* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;


}
:root{
--blue:#009ad8;
--grey:#bfc1c8;
}

.navbar-brand{
    color: #fff;
    
}
.nav-link{
border-color: #009AD8 !important;
transition: all .3s;
color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}
.navbar{
    background-color: #1E202B;
}
.nav-p{
    font-size: 10px;
}
.nav-link.home {
    padding: 5px 55px;
  border: solid 2px #009AD8 !important;
    border-radius: 20px;
    color: #009AD8;
}


 .nav-link:hover {
  color: #009ad8;
  border: #009AD8 2px solid transparent;
  border-radius: 20px;
  }
  
 
.main{
   background-color: #1E202B;
   height: 100vh;
  }
  .main-img{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }
 

.find-location {
    position: relative;
   
  }
  .find-location input[type="text"] {
    width: 100%;
    padding: 10px 50px 20px 20px;
    background: #1e202b;
    color: white;
    border: #1E202B solid 1px;
    border-radius: 50px;
    margin-top: 70px;
  }
  .find-location input[type="submit"],.find-location input[type="button"] {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
  color: #fff;
    background-color: #009AD8;
    border: #1E202B solid 1px;
    border-radius: 50px;
    padding: 0 40px;
    margin-top: 70px;

  }
  .forecast-table{
    padding: 50px 0;
  }
    
  .card-footer{
    background-color:#2D303D;
    color: #a7abb1;
   
  }
  .card{
    background-color: #323544;
    height: 400px;
  }

  .card-2 {
    background-color: #262936;
  }
  .card-foot{
    background-color: #222530;
  }
  .span-card{
    color: #a7abb1;
  }
  .footer {
    background: #262936;
    padding: 50px 0;
  }
  .footer .subscribe-form {
    position: relative;
    margin-bottom: 30px;
  }
  .footer .subscribe-form input[type="text"] {
    background: #1e202b;
    padding: 20px;
    height: 60px;
    width: 100%;
    color: white;
    border-radius: 30px;
    border: none;
  }
  .footer .subscribe-form input[type="submit"] {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border-radius: 50px;
    background-color: var(--blue);
    width: 100px;
    border: none;
    height: 50px;
    color: #fff;

  }
  .footer .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    background: #1e202b;
    color: #009ad8;
    text-align: center;
    transition: 0.3s ease;
   position: relative;
    font-size: 25px;
    left: 70px;
    top:10px
  }
  .footer .social-links a:hover {
    background: #009ad8;
    color: white;
  }
  .foot-p{
    color: var(--grey);
    font-size: 14px;
  }